@using belmontazh.Models;
@model IEnumerable<projectModel>
@{
    ViewBag.Title = "Проекты";
}
<h2>Проекты @Html.ActionLink("Создать", "Create", null, new { @class = "btn btn-success" })</h2>
<hr />
<div class="row">
    <div class="col-md-7">
        <form action="/admin/project?name=" method="get" class="form-horizontal">
            <div class="form-group">
                <label for="name" class="control-label col-md-4">Наименование</label>
                <div class="col-md-5">
                    <input type="text" class="form-control" id="name" name="name" />
                </div>
                <div class="col-md-3">
                    <input type="submit" class="btn btn-success" value="Поиск" />
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-5 text-right">
        <div class="btn-group">
            @Html.PageLinks((PageInfo)ViewBag.PageInfo, Url.Action("index", new { name = Request.Params["name"] }))
        </div>
    </div>
</div>
    @if (Model != null && Model.Count() > 0)
    {
        <div class="row">
            @foreach (var m in Model)
            {
            <div class="col-md-3 text-center" style="padding:10px; height:250px; position:relative;">
                <h4>@m.name</h4>
                <img class="img-thumbnail vertical_align" style="max-width:150px; max-height:130px;" src="@m.urlImage" />
                <div class="margin2px">
                        @Html.ActionLink("Добавить фото", "AddImg", new { id = m.id }, new { @class = "btn btn-success btn-xs" })
                        @Html.ActionLink("Изменить", "Edit", new { id = m.id }, new { @class = "btn btn-success btn-xs" })
                        @Html.ActionLink("Удалить", "Delete", new { id = m.id }, new { @class = "btn btn-danger btn-xs" })
                </div>
            </div>
            }
        </div>
    }
    else
    {
        @:Нет проектов для отображения
    }
