@using belmontazh.Models;
@model IEnumerable<commentModel>
@{
    ViewBag.Title = "Отзывы";
}
<h2>Отзывы @Html.ActionLink("Создать", "Create", null, new { @class = "btn btn-success" })</h2>
<hr />
<div class="row">
    <div class="col-md-7">
        <form action="/admin/comment?name=" method="get" class="form-horizontal">
            <div class="form-group">
                <label for="name" class="control-label col-md-4">Текст</label>
                <div class="col-md-5">
                    <input type="text" class="form-control" id="name" name="name" />
                </div>
                <div class="col-md-3">
                    <input type="submit" class="btn btn-success" value="Поиск" />
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-5 text-right">
        <div class="btn-group">
            @Html.PageLinks((PageInfo)ViewBag.PageInfo, Url.Action("index", new { name = Request.Params["name"]}))
        </div>
    </div>
</div>
@if (Model != null && Model.Count() > 0)
{
    <div class="row">
        @foreach (var m in Model)
        {
            <div class="col-md-12 text-justify" style="padding:10px;">
                <h4>@m.nameComment</h4>
                <p>@m.description</p>
                        @Html.ActionLink("Удалить", "Delete", new { id = m.id }, new { @class = "btn btn-danger btn-xs" })
            </div>
        }
    </div>
}
else
{
    @:Нет отзывов для отображения
    }