@model belmontazh.Models.krovliaKategoriesModel
@{
    ViewBag.Title = "Добавить категорию";
}
<h2>Добавить категорию</h2>
<hr />
@Html.ValidationSummary(false)
@using (Html.BeginForm("CreateKategories", "Krovlia", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div class="row">
        @Html.AntiForgeryToken()
        <div class="form-group">
            @Html.LabelFor(m => m.name, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.name, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-success" value="Создать" />
                @Html.ActionLink("Отмена", "Index", null, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>

}
@if (ViewBag.List != null && ViewBag.List.Count > 0)
{
    <div class="row">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.name)
                </th>
                <th>

                </th>
            </tr>

            @foreach (var m in ViewBag.List)
                {
                <tr>
                    <td>
                        @m.id
                    </td>
                    <td>
                        @m.name
                    </td>
                    <td>
                        <input type="button" class="btn btn-success" onclick="editProperty('@m.id', '@m.name');" value="Изменить" />
                        @Html.ActionLink("Удалить", "DeleteKategories", new { id = m.id }, new { @class = "btn btn-danger" })
                    </td>
                </tr>
            }

        </table>
    </div>
}
else
{
    @:Нет проектов для отображения
        }