
@{
    ViewBag.Title = "Пластиковые двери ПВХ недорого";
    ViewBag.Description = "Пластиковые двери от производителя по самой низкой цене в Борисове, Жодино, Крупки, Смолевичи. Большой выбор дверей ПВХ, качественный монтаж. Скидки!";
    ViewBag.Keywords = "пластиковые двери Борисов, двери, двери пвх Борисов, производитель, заказать, купить, недорого, цена";
}


<div class="container text-justify">
    <h1 style="text-align:center;">@ViewBag.Title</h1>
    <hr class="hr_orange" />
    <div >
        <p style="font-size:24px;color:#666;">Oknis предлагает своим клиентам производство и установку пластиковых дверей.</p>
        <p style="color:#666;">Входные группы можно комплектовать различными опциями: доводчики, раскладка всех видов, ламинация поверхностей под любой цвет и фактуру. По Вашему желанию в двери можно установить специальные замки, в том числе многозапорные и трехригельные.</p>
        <br />
    </div> 
    <div class="row">
        <h2 style="text-align:center;">Цены входных дверей</h2>
        <hr class="hr_orange" />
        <div class="col-md-6" style="display:inline-block;color:#666;">
            <h3 style="text-align:center;">ДВЕРЬ ВХОДНАЯ ОДНОСТВОРЧАТАЯ</h3>
            <br/>
            <p><img alt="Дверь ПВХ входная одностворчатая" src="/images/dveripvh1.jpg" style="width: 153px;margin-right: 20px; float: left;" title="Дверь ПВХ входная одностворчатая">
            <br> Открывание: наружу
            <br> Порог: алюминиевый теплый
            <br> Ручка: нажимной гарнитур
            <br> Замок: однозапорный
            <br> Стеклопакет: двухкамерный
            <br> Размеры: 800х2000 мм</p> 
            <h3 style="color:red;">ОТ 400 руб</h3>
        </div>
        <div class="col-md-6" style="display:inline-block;color:#666;">
            <h3 style="text-align:center;">ДВЕРЬ ВХОДНАЯ ШТУЛЬПОВАЯ</h3>
            <br/>
            <p>
                <img alt="Дверь ПВХ входная штульповая" src="/images/dveripvh2.jpg" style="width: 256px;margin-right: 20px; float: left;" title="Дверь ПВХ входная штульповая">
                <br> Открывание: наружу
                <br> Порог: алюминиевый теплый
                <br> Ручка: нажимной гарнитур
                <br> Замок: однозапорный
                <br> Стеклопакет: двухкамерный
                <br> Размеры: 1500х2000 мм
            </p>
            <h3 style="color:red;">ОТ 800 руб</h3>
        </div>
    </div>
    <div class="row" style="margin-top:30px;">
        <h2 style="text-align:center;">КОМПЛЕКТАЦИЯ ВХОДНОЙ ДВЕРИ ПВХ:</h2>
        <hr class="hr_orange" />
        <div class="col-md-5" style="text-align:right;">
            <img src="/images/dverishema.jpg" alt="Комлектация входной двери ПВХ" >
        </div>
        <div class="col-md-7 text-left" style="color:#666;">            
            
                <div>
                    <p>
                        <strong>1</strong> — Дверная рама из ПВХ профиля
                    </p>
                    <p>
                        <strong>2</strong> — Штульповая (неактивная) дверная створка
                    </p>
                    <p>
                        <strong>3</strong> — Дверные усиленные петли
                    </p>
                    <p>
                        <strong>4</strong> — Дверная створка из ПВХ профиля, может быть с открыванием наружу и во внутрь помещения.
                    </p>
                    <p>
                        <strong>5</strong> — Заполнение: стеклопакет от 24 мм до 34 мм
                    </p>
                    <p>
                        <strong>6</strong> — Дверная стационарная ручка — скоба или нажимная ручка&nbsp;
                    </p>
                    <p>
                        <strong>7</strong> — Различные варианты замков, ответные планки, профильные цилиндры, дверные шпингалеты
                    </p>
                    <p>
                        <strong>8</strong> — Разделительная горизонтальная перемычка (импост)
                    </p>
                    <p>
                        <strong>9</strong> — Нижняя и верхняя часть входной двери может быть заполнена сендвич- панелью
                    </p>
                    <p>Очень часто для лучшего автоматического притвора большой и тяжелой дверной створки устанавливается доводчик, он обеспечивает надежное закрывание двери.</p>
                </div>
</div>
    </div>
    <br/>
    <div class="row">
        <h2 style="text-align:center;">ВХОДНАЯ ПЛАСТИКОВАЯ ДВЕРЬ ВЫПОЛНЯЕТ В ПЕРВУЮ ОЧЕРЕДЬ ЗАЩИТНУЮ ФУНКЦИЮ</h2>
        <h3 style="text-align:center; color:red;">МЫ ПРЕДЛАГАЕМ КАЧЕСТВЕННУЮ УСТАНОВКУ ДВЕРЕЙ ПВХ ВХОДНОЙ ГРУППЫ.</h3>
        <hr class="hr_orange" />
        <div style="color:#666;">
            <p>
                <strong><i>В производстве дверных систем используют ПВХ профили двух видов:</i></strong> профили для балконных дверей и для дверей входной группы. Это различие связано с тем, что балконная дверь соединяется с оконным блоком в единую конструкцию, поэтому при  изготовлении применяется оконный профиль ПВХ. Для остальных дверей используют ПВХ профили в усиленном варианте, что связано с большими нагрузками, воздействующими на них, при этом различают профили для наружного и внутреннего открывания.
            </p>
            <p><strong><i>Произведённые из поливинилхлорида двери входной группы</i></strong> наделены немалым количеством преимуществ. Они отличаются высокой прочностью и надежностью, обладают высокими противовзломными и противопожарными характеристиками, при этом стильно выглядят и долго служат. Благодаря отличным функциональным и внешним качествам, высоким тепло- и шумоизоляционным характеристикам, простоте в уходе пластиковые двери устанавливаются не только в деловых и коммерческих зданиях (офисы, предприятия, рестораны, кафе, торговые центры, магазины), но и в детских садах и школах, медицинских учреждениях, но и  в частных домах и квартирах. </p>
            <p>
                <strong><i>Входные двери ПВХ - надежная защита. </i></strong> Как правило, пластиковые дверные блоки с внешней стороны контактируют с улицей, поэтому помимо эстетических требований, к ним предъявляются и функциональные: устойчивость к атмосферным осадкам, влажности воздуха, перепадам температур, а также высокая сопротивляемость к попыткам взлома или попыткам взлома.
            </p>
            <p>Несмотря на все свои высокие технические характеристики пластиковые входные двери доступны по цене, они могут стать интересным элементом дизайна помещения. А благодаря возможности выбрать любое цветовое решение или форму они подойдут к интерьеру любого дизайна и стиля.</p>

            <p><strong><i>Мы предлагаем нашим клиентам</i></strong> многообразие цветовых и дизайнерских решений, формы и цвета профиля, декорирование двери различными видами стекла (прозрачное, матовое, зеркальное, витражное и др.), которые отлично впишутся в интерьер дома или здания.</p>
        </div>
    </div>
</div>
<br/>


@Html.Action("oknosteps")

@Html.Action("info_client")

<div class="glazingDveri">
    @Html.Action("glazing")
</div> 

@Html.Action("accessories")

@Html.Action("info_edge")
