<div class="leftMenu">
    <div class="heading-left-menu">
        <a href="#">Меню</a>
    </div>
    <div id="adminMenu">
        <ul class="list-group">
            <li>
                @Html.ActionLink("Роли", "index", "role")
            </li>
            <li>
                @Html.ActionLink("Работы", "index", "Project")
            </li>
            @*<li>
                @Html.ActionLink("Отзывы", "index", "Comment")
            </li>
            <li>
                @Html.ActionLink("Статьи", "index", "knowBase")
            </li>
            <li>
                @Html.ActionLink("Двери", "index", "dveri")
            </li>
            <li>
                @Html.ActionLink("Прайс", "index", "price")
            </li>*@
            <li>
                @Html.ActionLink("Окна", "index", "okna")
            </li>
            @*<li>
                @Html.ActionLink("Кровля", "index", "krovlia")
            </li>
            <li>
                @Html.ActionLink("Заказы", "index", "orders")
            </li>*@
        </ul>
    </div>
</div>
